.header {
  width: 100%;
  background-color: $headerColor;
  z-index: 99;
  @include centerize();
  button {
    color: white;
    background-color: $pagesBtn;
    margin: 1em;
    width: 7em;
    height: 7em;
    border-radius: 1em;
    cursor: pointer;
    border: none;    
  }
}