$headerColor: #df5418;
$bodyBackground: #09364d;
$cardBackground: #1a506b;
$pagesBtn: #e8875d;
$pagesBtnHover: #efaa8c;

@font-face {
  font-family: nunito;
  src: url(../fonts/Nunito-VariableFont_wght.ttf);
}

@mixin centerize {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: nunito, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  background-color: $bodyBackground;
}

@import "./header.scss";
@import "./home.scss";
@import "./menu.scss";
@import "./about.scss";

/* media queries */

@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .page-content {
    .home , .wrapper-menu , .about {
      max-width: 720px;
    }
  }
}
@media only screen and (min-width: 992px) {
  .page-content {
    .home , .wrapper-menu , .about {
      max-width: 960px;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .page-content {
    .home , .wrapper-menu , .about {
      max-width: 1140px;
    }
  }
}
